
<div ng-cloak>


<div style="height: 305px">
    <carousel interval="vm.myInterval">
      <slide ng-repeat="slide in vm.slides" >
        <img ng-src="{{slide.image}}" style="margin:auto;">
        <div class="carousel-caption">
          <h4>Slide {{$index}}</h4>
          <p>{{slide.text}}</p>
          <!-- <button ng-click="slides[0].active = true"> -->
          Jump to Slide 1
          </button>
        </div>
      </slide>
    </carousel>
  </div>
  <div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="vm.addSlide()">Add Slide</button>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>



















<!-- 
	<div class="col-md-6">
    <carousel interval="vm.myInterval">
        <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style=margin:0 auto;">
            <div class="carousel-caption">
                <h4>Slide {{$index}}</h4>
                <p>{{slide.text}}</p>
            </div>
        </slide>
    </carousel>

</div>


<div class="row">
    <div class="col-md-6">
      <button type="button" class="btn btn-info" ng-click="vm.addSlide()">Add Slide</button>
      <button type="button" class="btn btn-info" ng-click="vm.randomize()">Randomize slides</button>
      <div class="checkbox">
        <label>
          <input type="checkbox" ng-model="noWrapSlides">
          Disable Slide Looping
        </label>
      </div>
    </div>
    <div class="col-md-6">
      Interval, in milliseconds: <input type="number" class="form-control" ng-model="myInterval">
      <br />Enter a negative number or 0 to stop the interval.
    </div>
  </div>
 -->
 
 
</div>